@(title:String, msg:models.DubStepJoke, fb_user : String)

@main(title) {
<h2>@title</h2>
<h1>@msg.msg</h1>
@if(fb_user == null) {
<fb:login-button>Login with Facebook</fb:login-button>
} else {
<p id="error"></p>
<p id="votes">Votes: @msg.votes</p>
<p id="name">@fb_user</p>
<a href="#" onclick="FB.logout(function(){window.location='/'})">Logout</a>
<a href="/submit">Add your own</a>
<p><a href="javascript:vote('@msg.id','up')">Vote up</a></p>
<p><a href="javascript:vote('@msg.id','down')">Vote down</a></p>
}

}